{% extends "base.html" %}
{% block content %}
  <h1>Primers</h1>
  {% if primer_list %}
    <ul>
      {% for primer in primer_list %}
	<li><a href="{% url 'data:reagent:primer-detail' primer_pk=primer.pk %}">{{ primer }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No primers are in the database.</p>
  {% endif %}
{% endblock content %}
