{% extends "base.html" %}
{% block content %}
  <h1>Bacteria</h1>
  {% if bacteria_list %}
    <ul>
      {% for bacteria in bacteria_list %}
	<li><a href="{% url 'data:reagent:bacteria-detail' bacteria_pk=bacteria.pk %}">{{ bacteria }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No bacteria are in the database.</p>
  {% endif %}
{% endblock content %}
