{% extends "base.html" %}
{% block content %}
  <h1>Antibodies</h1>
  {% if antibody_list %}
    <ul>
      {% for antibody in antibody_list %}
	<li><a href="{% url 'data:reagent:antibody-detail' antibody_pk=antibody.pk %}">{{ antibody }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No antibodies are in the database.</p>
  {% endif %}
{% endblock content %}
