{% extends "base.html" %}
{% block content %}
  <h1>cDNA</h1>
  {% if cdna_list %}
    <ul>
      {% for cdna in cdna_list %}
	<li><a href="{% url 'data:reagent:cdna-detail' cdna_pk=cdna.pk %}">{{ cdna }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cDNAs are in the database.</p>
  {% endif %}
{% endblock content %}
