{% extends "base.html" %}
{% block content %}
<h1>Data</h1>
<ul>
  <li><a href="{% url 'data:experiment:experiment-list' %}">Experiment</a></li>
  <li><a href="{% url 'data:family:family-list' %}">Family</a></li>
  <li><a href="{% url 'data:reagent:reagent-list' %}">Reagent</a></li>
  <li><a href="{% url 'data:researcher:researcher-list' %}">Researcher</a></li>
  <li><a href="{% url 'data:stock:stock-list' %}">Stock</a></li>
  <li><a href="{% url 'data:taxonomy:taxonomy-list' %}">Taxonomy</a></li>
</ul>
{% endblock content %}
