{% extends "base.html" %}
{% block content %}
  <ul>
    <h2>Reagents</h2>
    <li><a href="{% url 'data:reagent:antibiotic:antibiotic-list' %}">Antibiotic</a></li>
    <li><a href="{% url 'data:reagent:antibody:antibody-list' %}">Antibody</a></li>
    <li><a href="{% url 'data:reagent:bacteria:bacteria-list' %}">Bacteria</a></li>
    <li><a href="{% url 'data:reagent:cdna:cdna-list' %}">cDNA</a></li>
    <li><a href="{% url 'data:reagent:morpholino:morpholino-list' %}">Morpholino</a></li>
    <li><a href="{% url 'data:reagent:plasmid:plasmid-list' %}">Plasmid</a></li>
    <li><a href="{% url 'data:reagent:primer:primer-list' %}">Primer</a></li>
    <li>RNA probe</li>
    <li>fish strains</li>
    <li>chemicals</li>
  </ul>
{% endblock content %}
