{% extends "base.html" %}
{% block content %}
  {% load mptt_tags %}
  <h1>{{phenotype.get_ancestors|tree_path}} :: {{phenotype}}</h1>
  
  <ul>
    {% if eom_set %}
      <br><br>
	<h2>Elements of Morphology</h2>
	{% for eom in eom_set %}
	  <p><a href="http://elementsofmorphology.nih.gov/index.cgi?tid={{eom.eom}}" target="_blank">Elements of Morphology</a></p>
	{% endfor %}
      {% endif %}

      {% if hpo_set %}
	<br><br>
	  <h2>Ontology</h2>
	  {% for hpo in hpo_set %}
	    <p><a href="https://www.ebi.ac.uk/ontology-lookup/?termId=HP:{{hpo}}" target="_blank">Ontology Lookup Service</a></p>
	    <p><a href="http://toaster.lbl.gov:8282/phenotype/HP_{{hpo}}" target="_blank">LBL Toaster</a></p>
	    <p><a href="http://www.ontobee.org/browser/rdf.php?o=HP&iri=http://purl.obolibrary.org/obo/HP_{{hpo}}" target="_blank">Ontobee</a></p>
	  {% endfor %}
      {% endif %}

      {% if umls_set %}
	<br><br>
	  <h2>Unified Medical Language System</h2>
	  {% for umls in umls_set %}
	    <p><a href="http://www.ncbi.nlm.nih.gov/gtr/conditions/{{umls.umls}}/" target="_blank">Genetic Testing Registry</a></p>
	    <p><a href="http://linkedlifedata.com/resource/umls/id/{{umls.umls}}/" target="_blank">Linked Life Data</a></p>
	  {% endfor %}
	{% endif %}
      </ul>

      <br><br>
	<p><a href="{% url 'data:taxonomy:phenotype:phenotype-list' species_pk=species.id %}">Return to phenotype list</a></p>
	<p><a href="{% url 'data:taxonomy:taxonomy-detail' species_pk=species.id %}"> Return to {{ species.genus }} {{ species }} detail</a></p>
    {% endblock %}
