{% extends "base.html" %}
{% block content %}
  <h1>Phenotypes</h1>
  {% load mptt_tags %}
{% comment %}
  <ul>
    {% recursetree nodes %}
    <li>
      {% if node.is_leaf_node %}
	{{ node.name }} LEAF
      {% else %}
	{{ node.name }}
      {% endif %}
      {% if not node.is_leaf_node %}
	<ul>
	  <li><input type='checkbox' class="children">{{ children }}</li>
	</ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>
{% endcomment %}

<style type="text/css">
p {margin-bottom:-0.6em; margin-top:0.0em; padding:-1.0em; }
</style>
<form method="POST">{% csrf_token %}
<p><button type="submit" class="btn btn-primary">Save</button></p>
{% comment %} <input type="checkbox" name="classifiers" multiple="multiple" > {% endcomment %}
{% for node,structure in nodes|tree_info:"ancestors" %}
  <ul compact>
    {% if node.is_leaf_node %}
      <p>
	<input type='checkbox' value="{{ node.pk }}">
          {{ structure.ancestors|tree_path }} :: {{ node }}
	</input>
      </p>
    {% endif %}
  </ul>
{% endfor %}
<p><button type="submit" class="btn btn-primary">Save</button></p>
</form>
{% comment %}</input>{% endcomment %}


{% endblock %}
