{% extends "base.html" %}
{% block content %}
  <h1>Phenotypes</h1>
  {% load mptt_tags %}
{% comment %}
  <ul>
    {% recursetree nodes %}
    <li>
      {% if node.is_leaf_node %}
	{{ node.name }} LEAF
      {% else %}
	{{ node.name }}
      {% endif %}
      {% if not node.is_leaf_node %}
	<ul>
	  <li><input type='checkbox' class="children">{{ children }}</li>
	</ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>
{% endcomment %}

<style type="text/css">
p {margin-bottom:-0.6em; margin-top:0.0em; padding:-1.0em; }
</style>
{% if phenotype_list %}
  {% for phenotype,structure in phenotype_list|tree_info:"ancestors" %}
    <ul>
      {% if phenotype.is_leaf_node %}
	<p>
          <a href="{% url 'data:taxonomy:phenotype:phenotype-detail' species_pk=species_pk phenotype_pk=phenotype.id %}">{{ structure.ancestors|tree_path }} :: {{ phenotype }}</a>
	</p>
      {% endif %}
    </ul>
  {% endfor %}
{% else %}
  There are no phenotypes in the database for this species
{% endif %}
{% endblock %}
