{% extends "base.html" %}
{% block content %}
{% if researcher_list %}
<ul>
  {% for researcher in researcher_list %}
    <ul>
    <li>{{ researcher }}</li>
    </ul>
    {% comment %}
    <li><a href="{% url 'data:taxonomy:gene:gene-detail' species_pk=gene.ncbi_species.id gene_pk=gene.id %}">{{ gene }} --- {{ gene.hgnc_name }}</a></li> {% endcomment %}
  {% endfor %}
</ul>
{% else %}
  <p>No researchers are listed in the database.</p>
{% endif %}
{% endblock content %}
