{% extends "base.html" %}
{% block content %}
<h2>{{ gene }} -- {{ gene.hgnc_name }}</h2>
<p><a href="{% url 'data:taxonomy:gene:gene-list' gene.ncbi_species.id %}">Return to gene list</a></p>
<br><br>
<p><a href="{% url 'data:taxonomy:taxonomy-list' %}">Return to species list</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
