{% extends "base.html" %}
{% block content %}
{% if gene_list %}
<ul>
  {% for gene in gene_list %}
     {% comment %}<li>{{ gene }} --- {{ gene.hgnc_name}} </li> {% endcomment %}
    <li><a href="{% url 'data:taxonomy:gene:gene-detail' species_pk=gene.ncbi_species.id gene_pk=gene.id %}">{{ gene }} --- {{ gene.hgnc_name }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p>No genes are listed in the database.</p>
{% endif %}
{% endblock content %}
