{% extends "base.html" %}
{% block content %}
{% if species_list %}
<ul>
  {% for species in species_list %}
    <li><a href="{% url 'data:taxonomy:taxonomy-detail' species.id %}">{{species.genus }} {{ species }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p>No taxonomies are listed in the database.</p>
{% endif %}
{% endblock content %}
