{% extends "base.html" %}
{% block content %}
<h1>{{ species.genus }} {{ species }}</h1>
<h2>Query</h2>
<p><a href="{% url 'data:taxonomy:query-gene' species_pk=species.id %}">Query Patient Genes</a></p>
<p><a href="{% url 'data:taxonomy:query-phenotype' species_pk=species.id  %}">Query Patient Phenotypes</a></p>
<br><br>
<h2>List</h2>
<p><a href="{% url 'data:taxonomy:gene:gene-list' species.id %}">Gene list</a></p>
<p>
<p><a href="{% url 'data:taxonomy:phenotype:phenotype-list' species_pk=species.id %}">Phenotype list</a></p>
<br><br>
<p><a href="{% url 'data:taxonomy:taxonomy-list' %}">Return to species list</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
