{% extends "base.html" %}
{% block content %}
{% if workflow_list %}
<ul>
  {% for workflow in workflow_list %}
   {% comment %}  <li><a href="{% 'workflow:detail' workflow.id %}">{{ workflow }}</a></li> {% endcomment %}
  {% endfor %}
</ul>
{% else %}
  <p>No workflows are listed in the database.</p>
{% endif %}
{% endblock content %}
