{% extends "base.html" %}
{% block content %}
  <h1>Plasmids</h1>
  {% if plasmid_list %}
    <ul>
      {% for plasmid in plasmid_list %}
	<li><a href="{% url 'data:reagent:plasmid-detail' plasmid_pk=plasmid.pk %}">{{ plasmid }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No plasmids are in the database.</p>
  {% endif %}
{% endblock content %}
