<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AutoForce</title>
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
      html { height: 100%; }
      body { padding-top: 60px;
      padding-bottom: 40px;
      height: 100%; }

      #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -150px;
      }

      #push,
      #footer {
      height: 10px;
      }
      #footer {
      background-color: #f5f5f5;
      }

    </style>
    <script src="http://code.jquery.com/jquery.js"></script>

    <!--  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
	  <style>
	    body {
	    font-family: 'Yanone Kaffeesatz';
	    font-style: normal;
	    font-weight: 400;
	    font-size: 48px;
	    }
	  </style> -->
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">AutoForce</a>
            <div class="nav-collapse collapse">
              <p class="navbar-text pull-right">
{#		<p><a href="{% url 'autoforce-authentication' %}">Login</a><p>#}
		Logged in as <a href="{% url 'accounts-login' %}" class="navbar-link">{{ user }}</a>
              </p>
              <ul class="nav">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->	
	  </div><!--/.container -->
	</div><!--/.navbar-inner -->
      </div><!--/.navbar -->
      

      {% block heading %}{% endblock heading %}

      {% bootstrap_messages %}
      <div class="container-fluid">
	<div class="row-fluid">
	  {% include "sidebar.html" %}
	  
	  <div class="span10">
	    {% block content %}{% endblock content %}
	    
	  </div>
	  
	</div><!--/.row-fluid-->
      </div><!--/.container-fluid-->

      <div id="push"></div>
    </div><!--/.wrap -->
<!--    <div id="footer">
      <div class="container">
	<p class="muted credit"><a target="_blank" href="http://www.cellbio.duke.edu/CHDM/Home.html">&copy CHDM</a> | 2013</p>
      </div>
    </div>-->
  </body>
</html>
