{% extends "base.html" %}

{% block heading %}

<div class="well text-center">
  <h1>CHDM<p>AutoForce</h1>
  <p>Automating TaskForce Administration</p>
  <p><a class="btn btn-primary" target="_blank" href="https://bitbucket.org/jeremiahsavage_duke/autoforce3/src">Check it out on BitBucket &raquo;</a></p>
</div>

{% endblock heading %}

{% block content %}
<h2>Home</h2>
{% endblock content %}
