<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Task</li>
      <li><a href="{% url 'data:data' %}">Data</a></li>
      <li><a href="{% url 'workflow:workflow-list' %}">Workflow</a></li>
      <li><a href="{% url 'report:report-list' %}">Report</a></li>
    </ul>
  </div><!--/.well-->
</div><!--/.span2-->
