{% extends "base.html" %}
{% block content %}
<h2>Genes</h2>

<style type="text/css">
p {margin-bottom:-0.2em; margin-top:0.0em; padding:-1.0em; }
</style>

<form method="POST">{% csrf_token %}
{{ form }}
<p><button type="submit" value="Submit"  class="btn btn-primary">Save</button></p>
</form>
{% comment %} <input type="checkbox" name="classifiers" multiple="multiple" > {% endcomment %}

{% endblock %}
