{% extends "base.html" %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <h1>{{ patient }}</h1>
  <ul>
    {% load staticfiles %}
    {% comment %}
    {% for data in patientdata %}
      <li><a href="{{ data.datafile }}"> {{ data }}</a></li>
  {% endfor %}
  {% endcomment %}
  </ul>
  <p><a href="{% url 'data:family:patient:datafiles:create' family_pk=patient.family.pk patient_pk=patient.pk %}">Add Patient Data File</a></p>
{% comment %}  <p><a href="{% url 'family:patient:datafiles:delete' family_pk=patient.family.pk patient_pk=patient.pk %}">Delete Patient Data File</a></p> {% endcomment %}
  <p><a href="{% url 'data:family:patient:datafiles:list' family_pk=patient.family.pk patient_pk=patient.pk %}">List Patient Data Files</a></p>
  <br><br>
    <h3>Phenotypes</h3>
    {% load mptt_tags %}
    {% if phenotype_list %}
      {% recursetree phenotype_list %}
      <li><a href="{% url 'data:family:patient:phenotype-detail' family_pk=patient.family.pk patient_pk=patient.pk phenotype_pk=node.pk %}">{{node.get_ancestors|tree_path}} :: {{ node.name }}</a></li>
      {% endrecursetree %}
    {% else %}
      <p>There are no phenotypes in the database for this patient.</p>
    {% endif %}
    <p><a href="{% url 'data:family:patient:phenotype-update' family_pk=patient.family.pk patient_pk=patient.pk %}">Update patient phenotypes</a></p>
<p><a href="{% url 'data:family:patient:gene-update' family_pk=patient.family.pk patient_pk=patient.pk %}">Update patient genes</a></p>


{% comment %}
    <a href="{% url 'data:family:patient:phenotype-list' family_pk=patient.family.pk patient_pk=patient.pk %}">List patient phenotype</a></p>
{% endcomment %}


    <br><br>
  <br><p><a href="{% url 'data:family:family-detail' patient.family.pk %}">Return to family: {{ patient.family }}</a></p>
  <p><a href="{% url 'data:family:patient:patient-update' family_pk=patient.family.pk patient_pk=patient.pk %}">Update patient information</a></p>
  <p><a href="{% url 'data:family:patient:patient-delete' family_pk=patient.family.pk patient_pk=patient.pk %}">Delete patient information</a></p>
{% endblock content %}
