{% extends "base.html" %}
{% block content %}
<h1>Confirm Delete Patient</h1>
<form method="POST">{% csrf_token %}
{{ form }}
<p><button type="submit" class="btn btn-danger">Delete</button></p>
</form>
<p><a href="{% url 'data:family:patient:patient-detail' family_pk=patient.family.pk patient_pk=patient.pk %}">Return to patient detail: {{ patient }}</a></p>
<p><a href="{% url 'data:family:family-detail' family_pk=patient.family.pk %}">Return to family: {{ patient.family }}</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
