{% extends "base.html" %}
{% block content %}
<h1>Add/Update Patient</h1>
{% if family %}
<p><a href="{% url 'data:family:family-detail' family_pk=family.pk %}">Return to family: {{ family }}</a></p>
{% endif %}
{% if patient %}
<p>Update Phenotype</p>
<p><a href="{% url 'data:family:family-detail' family_pk=patient.family.pk %}">Return to family: {{ patient.family }}</a></p>
{% endif %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="POST">{% csrf_token %}
{{ form }}
<p><button type="submit" class="btn btn-primary">Save</button></p>
</form>
{% endblock content %}
