{% extends "base.html" %}
{% block content %}
{% if patient_list %}
<ul>
  {% for patient in patient_list %}
    <li><a href="{% url 'data:family:patient:detail' family_pk=patient.family.id patient_pk=patient.id %}">{{ patient }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p>No patients are listed in the database for this query</p>
{% endif %}
{% endblock content %}
