
{% extends "base.html" %}
{% block content %}
<h2>Phenotypes</h2>
  {% load mptt_tags %}

<style type="text/css">
p {margin-bottom:-0.2em; margin-top:0.0em; padding:-1.0em; }
</style>

<form method="POST">{% csrf_token %}
{{ form.phenotype }}
<p><button type="submit" value="Submit"  class="btn btn-primary">Save</button></p>
</form>
{% comment %} <input type="checkbox" name="classifiers" multiple="multiple" > {% endcomment %}

<ul compact>
{% for node,structure in phenotype|tree_info:"ancestors" %}
    {% if node.is_leaf_node %}
      <p>
	<input type='checkbox' value="{{ node.pk }}">
          {{ structure.ancestors|tree_path }} :: {{ node }}
	</input>
      </p>
    {% endif %}
{% endfor %}
</ul>


{% endblock %}
