{% extends "base.html" %}
{% block content %}
  <h1>Phenotypes</h1>
  {% load mptt_tags %}
{% comment %}
  <ul>
    {% recursetree nodes %}
    <li>
      {% if node.is_leaf_node %}
	{{ node.name }} LEAF
      {% else %}
	{{ node.name }}
      {% endif %}
      {% if not node.is_leaf_node %}
	<ul>
	  <li><input type='checkbox' class="children">{{ children }}</li>
	</ul>
      {% endif %}
    </li>
    {% endrecursetree %}
  </ul>
{% endcomment %}
patient: {{patient.pk}}
<style type="text/css">
p {margin-bottom:-0.6em; margin-top:0.0em; padding:-1.0em; }
</style>

{% if phenotype_list %}
  {% recursetree phenotype_list %}
  <li><a href="{% url 'data:family:patient:phenotype-detail' family_pk=patient.family.pk patient_pk=patient.pk phenotype_pk=node.pk %}">{{node.get_ancestors|tree_path}} :: {{ node.name }}</a></li>
  {% endrecursetree %}
{% else %}
  There are no phenotypes in the database for this species
{% endif %}


{% comment %}
  {% for phenotype,structure in phenotype_list|tree_info:"ancestors" %}
    <ul>
      {% if phenotype.is_leaf_node %}
	<p> {{ phenotype.pk }}
	  <a href="{% url 'data:family:patient:phenotype-detail' family_pk=patient.family.pk patient_pk=patient.pk phenotype_pk=phenotype.pk %}">{{ structure.ancestors|tree_path }} :: {{ phenotype }}</a>
	</p>
      {% endif %}
    </ul>
  {% endfor %}
{% endcomment %}

{% endblock %}
