{% extends "base.html" %}
{% block content %}
  {% load mptt_tags %}
  <h1>{{phenotype.get_ancestors|tree_path}} :: {{phenotype}}</h1>
  
  <ul>
    <p><a href="http://elementsofmorphology.nih.gov/index.cgi?tid={{phenotype.eom}}" target="_blank">Elements of Morphology</a></p>
    <br>
      <p><a href="https://www.ebi.ac.uk/ontology-lookup/?termId=HP:{{phenotype.hpo}}" target="_blank">Ontology Lookup Service</a></p>
      <p><a href="http://toaster.lbl.gov:8282/phenotype/HP_{{phenotype.hpo}}" target="_blank">LBL Toaster</a></p>
      <p><a href="http://www.ontobee.org/browser/rdf.php?o=HP&iri=http://purl.obolibrary.org/obo/HP_{{phenotype.hpo}}" target="_blank">Ontobee</a></p>
      <br>
	<p><a href="http://www.ncbi.nlm.nih.gov/gtr/conditions/{{phenotype.umls}}/" target="_blank">Genetic Testing Registry</a></p>
      </ul>
      <br><br>

{% comment %}  
	<p><a href="{% url 'data:taxonomy:phenotype:phenotype-list' species_pk=species.id %}">Return to phenotype list</a></p>
	<p><a href="{% url 'data:taxonomy:taxonomy-detail' species_pk=species.id %}"> Return to {{ species.genus }} {{ species }} detail</a></p>
{% endcomment %}
    {% endblock %}
