{% extends "base.html" %}
{% block content %}
  <h1>Morpholinos</h1>
  {% if morpholino_list %}
    <ul>
      {% for morpholino in morpholino_list %}
	<li><a href="{% url 'data:reagent:morpholino-detail' morpholino_pk=morpholino.pk %}">{{ morpholino }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No morpholinos are in the database.</p>
  {% endif %}
{% endblock content %}
