{% extends "base.html" %}
{% block content %}
  <h1>Antibiotics</h1>
  {% if antibiotic_list %}
    <ul>
      {% for antibiotic in antibiotic_list %}
	<li><a href="{% url 'data:reagent:antibiotic-detail' antibiotic_pk=antibiotic.pk %}">{{ antibiotic }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No antibiotics are in the database.</p>
  {% endif %}
{% endblock content %}
