{% extends "base.html" %}
{% block content %}

<ul>
  <li><a href="{% url 'data:experiment:experimentnextgenseq:list' %}">Next Generation Sequencing</a></li>
</ul>
{% comment %}
{% if experiment_list %}
<ul>
  {% for experiment in experiment_list %}
   <li><a href="{% 'experiment:experiment-detail' experiment.id %}">{{ experiment }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p>No experiments are listed in the database.</p>
{% endif %}
{% endcomment %}

{% endblock content %}
