{% extends "base.html" %}
{% block content %}
{% comment %} {% if nextgenseq_list %} {% endcomment %}
<h2>NextGen Sequencing Experiments</h2>
<ul>
  {% for nextgenseq in nextgenseq_list %}
    <li><a href="{% url 'data:experiment:experiment_nextgenseq:detail' nextgenseq.pk %}">{{ nextgenseq }}</a></li>
  {% endfor %}
</ul>
{% comment %} {% else %}
  <p>No NextGenSeq experiments are in the database.</p>
{% endif %} {% endcomment %}

{% endblock content %}
