{% extends "base.html" %}
{% block content %}
{% if report_list %}
<ul>
  {% for report in report_list %}
   {% comment %}  <li><a href="{% 'report:detail' report.id %}">{{ report }}</a></li> {% endcomment %}
  {% endfor %}
</ul>
{% else %}
  <p>No reports are listed in the database.</p>
{% endif %}
{% endblock content %}
