{% extends "base.html" %}
{% block content %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <h1>{{ patientdata }} Detail</h1>
{% comment %}  <p>Download: <a href="{% url 'family:patient:datafiles:datafile_from_storage' patientdata_slug=patientdata.slug %}"{{ patientdata.filename }}</a></p> {% endcomment %}


<p>Download: <a href="{% url 'data:family:patient:datafiles:datafile_from_storage' family_pk=patientdata.patient.family.pk patient_pk=patientdata.patient.pk patientdata_pk=patientdata.pk %}">{{ patientdata }}</a></p>


{% comment %} #further context_data understanding
  {% if family %}
    {{ family }}
    <p><a href="{% url 'family:family-detail' family_pk=family %}">Return to family: {{ family }}</a></p>
  {% endif %}
{% endcomment %}

  {% if patient %}
    <p><a href="{% url 'data:family:patient:patient-detail' family_pk=patient.family.pk patient_pk=patient.pk %}">Return to Patient Details: {{ patient }}</a></p>
    <p><a href="{% url 'data:family:patient:datafiles:list' family_pk=patient.family.pk patient_pk=patient.pk %}">Return to Patient Data Files List</a></p>

  {% endif %}



  {% comment %}
  <p><a href="{% url 'fixture_from_storage' file=patientdata.datafile family=patient.family %}">Download {{ patientdata }}</a></p>
  <p><a href="{% url 'family:patient:datafiles:create' family_pk=patient.family.pk patient_pk=patient.pk %}">Add Patient Data File</a></p>
  <p><a href="{% url 'family:patient:datafiles:delete' family_pk=patient.family.pk patient_pk=patient.pk %}">Delete Patient Data File</a></p>
  <p><a href="{% url 'family:patient:datafiles:list' family_pk=patient.family.pk patient_pk=patient.pk %}">List Patient Data Files</a></p>
  <br><br>
  <br><p><a href="{% url 'family:family-detail' patient.family.pk %}">Return to family: {{ patient.family }}</a></p>
  <p><a href="{% url 'family:patient:patient-update' family_pk=patient.family.pk patient_pk=patient.pk %}">Update patient information</a></p>
  <p><a href="{% url 'family:patient:patient-delete' family_pk=patient.family.pk patient_pk=patient.pk %}">Delete patient information</a></p>
  {% endcomment %}

{% endblock content %}
