{% extends "base.html" %}
{% block content %}

  {% if patient.patientdata_set.all %}
    <ul>
      {% for patientdata in patient.patientdata_set.all %}
	<li><a href="{% url 'data:family:patient:datafiles:detail' patientdata_pk=patientdata.pk patient_pk=patient.pk family_pk=patient.family.pk %}">{{ patientdata }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No patient datafiles are listed in the database for this family</p>
  {% endif %}

  {% if patient %}
    <p><a href="{% url 'data:family:patient:patient-detail' family_pk=patient.family.pk patient_pk=patient.pk %}">Return to patient: {{ patient }}</a></p>
    <p><a href="{% url 'data:family:family-detail' family_pk=patient.family.pk %}">Return to family: {{ family }}</a></p>
  {% endif %}

{% endblock content %}
