{% extends "base.html" %}
  {% block content %}
    <h1>Add/Update Patient Data</h1>

    {% if family %}
      <p><a href="{% url 'data:family:family-detail' family_pk=family.pk %}">Return to family: {{ family }}</a></p>
    {% endif %}
    {% if patient %}
      <p><a href="{% url 'data:family:patient:patient-detail' family_pk=patient.family.pk patient_pk=patient.pk %}">Return to patient: {{ patient }}</a></p>
    {% endif %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="POST">{% csrf_token %}
    {{ form }}
    <p><button type="submit" class="btn btn-primary">Save</button></p>
    </form>

  {% endblock content %}
