{% extends "base.html" %}
{% block content %}
  <h1>Stocks</h1>
  {% if freezer_list %}
    <ul>
      {% for freezer in freezer_list %}
	<li><a href="{% url 'data:stock:freezer-detail' freezer_pk=freezer.pk %}">{{ freezer }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No freezers are in the database.</p>
  {% endif %}
{% endblock content %}
