{% extends "base.html" %}
{% block content %}
<h1>Add Family</h1>
{% if form.is_multipart %}
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
{% else %}
  <form method="POST">{% csrf_token %}
{% endif %}
{{ form }}
<button type="submit" class="btn btn-primary">Save</button>
</form>
{% comment %}
{% if family %}
  <p><a href="{% url 'family:family-detail' family_pk=family.pk %}">Return to Family detail: {{ family }}</a></p>
{% endif %}
{% endcomment %}
<p><a href="{% url 'data:family:family-list' %}">Return to Family List</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
