{% extends "base.html" %}
{% block content %}
{% if family_list %}
<h1>Famil{{ family_list|pluralize:'y,ies' }}</h1>
<ul>
  {% for family in family_list %}
    <li><a href="{% url 'data:family:family-detail' family.pk %}">{{ family }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p>No families are in the database.</p>
{% endif %}

<a href="{% url 'data:family:family-create' %}" class="btn btn-primary">Create new family</a>

{% endblock content %}
