{% extends "base.html" %}
{% block content %}
<h1>Confirm Delete Family</h1>
<form method="POST">{% csrf_token %}
{{ form }}
<p><button type="submit" class="btn btn-danger">Delete</button></p>
</form>
<p><a href="{% url 'data:family:family-detail' family_pk=family.pk  %}">Return to family detail: {{ family }}</a></p>
<p><a href="{% url 'data:family:family-list' %}">Return to family list</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
