{% extends "base.html" %}
{% block content %}
<h1>{{ family }}</h1>
<ul>
{% for patient in family.patient_set.all %}
  <li><a href="{% url 'data:family:patient:patient-detail' family_pk=patient.family.pk patient_pk=patient.pk %}">{{ patient }}</a></li>
{% endfor %}
</ul>
{% load staticfiles %}
{#<img src="pedigree.png" alt="pedigree"/ width="400">#}
{% if family.pedigree %}
<img src="{{ family.pedigree.url }}"/ width="400">
{% endif %}
<p><a href="{% url 'data:family:patient:patient-create' family.pk %}">Add Family Member</a></p>

{#<p><a href="{% url 'family:family-update' family_pk=family.pk %}">Update family information</a></p>#}
<p><a href="{% url 'data:family:family-delete' family_pk=family.pk %}">Delete family information</a></p>
<p><a href="{% url 'data:family:family-list' %}">Return to family list</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock content %}
